body {
    width: 100%;
    margin: 0;
}

header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #48252C;
    box-shadow: 0px 1px 10px grey;
    -webkit-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease; /* For header.sticky */
}

#logo {
    color: #AA6371;
    font-family: fantasy;
    font-size: 40px;
    float: left;
    margin-left: 10%;
}

nav {
    height: 100%;
    float: right;
    text-align: center;
}

.menu {
    display: none;
}

ul {
    width: 605px;
    height: 100%;
    margin-top: 0;
}

li {
    width: 150px;
    height: 100%;
    list-style: none;
    float: left;
    cursor: pointer;
    border-left: 1px solid #48252C;
}

li:hover {
    background-color: rgba(151, 72, 88, 0.2);
}

a {
    color: #48252C;
    font-family: serif;
    font-size: 25px;
    text-decoration: none;
}

header.sticky {
    height: 50px;
    line-height: 50px;
}

#img-1, #img-2, #img-3, #img-4 {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-1 {
    background-image: url('../images/img1.jpg');
    text-align: center;
    line-height: 100vh;
}

#img-2 {
    background-image: url('../images/img2.jpg');
}

#img-3 {
    background-image: url('../images/img3.jpg');
}

#img-4 {
    background-image: url('../images/img4.jpg');
}

button {
    width: 150px;
    height: 80px;
    border: 1px solid #48252C;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #48252C;
    font-family: serif;
    font-size: 23px;
    cursor: pointer;
}

button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

@media screen and (max-width: 1200px) {
    header {
        height: 70px;
        line-height: 70px;
    }
    
    #logo {
        font-size: 30px;
    }
    
    ul {
        width: 525px;
    }
    
    li {
        width: 130px;
    }
    
    a {
        font-size: 20px;
    }
    
    button {
        width: 130px;
        height: 70px;
        font-size: 18px;
    }
}

@media screen and (max-width: 850px) {
    #logo {
        font-size: 25px;
        margin-left: 5%;
    }
    
    ul {
        width: 405px;
    }
    
    li {
        width: 100px;
    }
    
    a {
        font-size: 18px;
    }
    
    button {
        width: 100px;
        height: 60px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    #logo {
        display: none;
    }
    
    nav {
        width: 100%;
    }
    
    .menu {
        width: 100%;
        height: 70px;
        display: block;
        border-bottom: 1px solid #48252C;
        cursor: pointer;
    }
    
    .menu:hover {
        background-color: rgba(151, 72, 88, 0.2);
    }
    
    ul {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    
    ul.open {
        height: auto;
    }
    
    li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        border-bottom: 1px solid #48252C;
        float: none;
        margin-left: -40px;
    }
    
    header.sticky {
        height: 70px;
        line-height: 70px;
    }
}